@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Rubik+Mono+One&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif, cursive, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 40px 0;
  flex-flow: row wrap;
}

.texto-encima {
  background: url("../img/mapas.jpg");
  width: 100%;
  height: 100%;
}

.header {
  display: block;
  width: 100%;
  height: 100vh;
}

.header__imagen {
  width: 100%;
  height: 100vh;
}

.header__text--text-over-imagen {
  position: absolute;
  font-family: "Rubik Mono One", cursive, sans-serif;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  text-shadow: 0 0.1875rem #f00;
}

.grid {
  display: grid;
  grid-template-columns: 85% 15%;
}

.article {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: row wrap;
  gap: 2.5rem 0;
}

.text {
  line-height: 2rem;
}

.text--title {
  text-align: center;
  font-family: "Rubik Mono One", cursive, sans-serif;
  font-size: 2.25rem;
}

.text--decoration {
  text-decoration: underline;
}

.text--bold {
  font-weight: bold;
}

.text--no-link {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.text--cursive {
  font-style: italic;
}

.block-flex {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.25rem 0;
}


.block-flex-child {
  padding: 0.5rem;
  display: block;
  width: 90%;
}

.aside {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.aside__link {
  display: block;
  text-decoration: none;
  color: #0e6206;
  padding: 0.5rem;
}

.aside__link:hover {
  text-decoration: underline;
}

.box {
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
  gap: 1.25rem;
  height: 60vh;
}

.box2 {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.25rem;
}

.container--img {
  display: block;
  text-align: center;
}

.img {
  height: 100%;
}

