@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Rubik+Mono+One&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif, cursive, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

#conclusion{
  margin-bottom: 12px ;
}

::selection{
  background: #143242;
  color: #fff;
}

.container {
  display: flex;
  gap: 40px 0;
  flex-flow: row wrap;
}

.texto-encima {
  background: url("../img/mapas.jpg");
  width: 100%;
  height: 100%;
}

.header {
  display: block;
  width: 100%;
  height: 100vh;
}

.header__imagen {
  width: 100%;
  height: 100vh;
}

.header__text--text-over-imagen {
  position: absolute;
  font-family: "Rubik Mono One", cursive, sans-serif;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  text-shadow: 0 0.1875rem #f00;
}

.grid {
  display: grid;
  grid-template-columns: 85% 15%;
}

.article {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: row wrap;
  gap: 2.5rem 0;
}

.text {
  line-height: 2rem;
}

.text--center{
  text-align: center;
}

.text--title {
  text-align: center;
  font-family: "Rubik Mono One", cursive, sans-serif;
  font-size: 2.25rem;
}

.text--bold {
  font-weight: bold;
}

.text--no-link {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.text--cursive {
  font-style: italic;
}

.text--decoration {
  text-decoration: underline;
}

.block-flex {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75rem;
}

.block-flex--gap{
  gap: 2rem;
}

.block-flex-child {
  padding: 0.5rem;
  display: block;
  width: 90%;
}

.aside {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.aside__link {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
}

.aside__link--color{
  color: #0e6206;
}

.aside__link--color2{
  color: #fff;
}

.aside__link--transition{
  transition: color 0.1s ease;
}

.aside__link--transition:hover {
  text-decoration: underline;
}

.aside__link--transition--color:hover{
  color: #ad8215;
}

.aside__link--transition--color2:hover{
  color: #aaa;
}

.box {
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
  gap: 1.25rem;
  height: 60vh;
}

.box2 {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.25rem;
}

.container--img {
  display: block;
  text-align: center;
}

.img {
  height: 100%;
}

.img--leyenda{
  margin: 0.5rem 0;
}

.float-element{
  position: fixed;
  top: 1rem;
  right: 1.25rem;
}

.icon--light{
  width: 1.75rem;
  cursor: pointer;
}

.not-selectable{
  user-select: none;
}

.footer{
  display: grid;
  width: 100%;
  grid-template-columns: 85% 15%;
  padding: 0.25rem;
}

.footer--background-blue{
  background:  #2e1b47;
  color: #fff;
}

.footer__p{
  padding: 0.75rem;
}


