doctype html
html(lang="es")
  head
    block head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(name="author", content="Salando")
  body
    block header
      header.header
        picture
          img(src="../img/mapas.jpg", alt="mapa").header__imagen
        h1.header__text--text-over-imagen.
          Descubriendo el legado de Marie Tharp: La mujer que revolucionó la geología marina

