doctype html
html(lang="es")
  head
    block head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(name="author", content="Salando")
  body.container
    block header
      header.header
        picture
          img(src="../img/mapas.jpg", alt="mapa").header__imagen
        h1.header__text--text-over-imagen.block-flex-child.
          La Vida y Legado de Marie Tharp.<br>La Geóloga Marina
    block article
      main.block-flex
        article.article
          h2.text.text--title.block-flex-child ¿Quien fue Marie Tharp?
          p.text.block-flex-child.
            Fue una <span title="Científico que estudia la estructura, composición, procesos y historia de la Tierra" class="text | text--decoration">geóloga</span> y
            <span title="Profesional que se encarga de crear mapas y representaciones visuales precisas y detalladas de la superficie terrestre" class="text | text--decoration">cartógrafa</span> oceanográfica estadounidense que junto con
            <span class="text | text--bold">Bruce Heezen</span>
            ayudó a descubrir la existencia de una cadena montañosa que se extiende por el lecho del océano Atlántico,
            logrando poner en manifiesto la dorsal mesoatlántica, tal hazaña sirvío para crear el primer mapa mundial
            de los fondos oceánicos.
          p.text.block-flex-child.
            Marie tiene el mérito de haber logrado tales hallazgos cuando no se admitía muejeres en barcos de investigacion.
            Ante esta limitación, ella tuvo que dibujar sus mapas solo con los datos que traía Heezen de sus expediciones.
          p.text.block-flex-child.
            Estos descubrimientos ayudaron a la compresión de la teoria de la
            <span class="text | text--cursive">deriva continental</span>
            teoria desarrollada por el alemán <a class="text | text--bold | text--no-link" title="Meteorólogo y geofísico, fue uno de los padres de la geología moderna al proponer la teoría de la deriva continental. Nacido en Berlin, el primero de noviembre de 1880" href="https://es.wikipedia.org/wiki/Alfred_Wegener">Alfred Wegener</a> en 1920.
        article.article
          h2.text.text--title.block-flex-child.
            Biografía
          p.text.block-flex-child.
            Marie Tharp nació el 30 de julio de 1920 en Ypsilanti, Michigan.
            Su padre, William, la introdujo desde temprano en la cartografía, ya que el trabajaba haciendo mapas de clasificación de suelos
            para el Departamento de Agricultura de los Estados Unidos.
            Y su madre, Bertha, era profesora de alemán y latín.
          p.text.block-flex-child.
            Marie se graduó en la Universidad de Ohio con grados de bachelor en inglés y música,
            Más tarde recibió el grado master en geología en la Universidad de Míchigan,
            y por ultimo obtuvo un grado en matemáticas por la Universidad de Tulane.
            <br>
            Empezó a trabajar como geóloga en una compañía petrolera y más tarde se trasladó a Nueva York, donde se incorporó en la Universidad de Columbia. lo que la convirtió en <span class="text | text--bold"> la primera mujer en trabajar en un laboratorio geológico</span>. Allí conoció al geólogo marino <span class="text | text--bold">Bruce Heezen</span>, con quien colaboró en varios proyectos.
          p(title="No fue hasta 1965, cuando tenía 45 años, que Marie Tharp pudo embarcar por primera vez").text.block-flex-child.
            Sin embargo, Marie contaba con una limitación a la hora de hacer sus mapas, que en ese tiempo no se admitía a mujeres en barcos de investigacion, por lo que Marie hacie sus mapas en base a los datos que recolectaba Heezen de sus expediciones.j
            A pesar de tener datos limitados, su habilidad en matemáticas le permitió estimar o
            inferir los valores faltantes y así crear una representación preliminar del
            relieve de los suelos del océano Atlántico.
          p.text.block-flex-child.
            Al comienzo, Heezen, desestimó sus contribuciones por considerar que eran "cosas de mujeres".
            Pero luego de un año, Heezen tuvo que rendirse ante la evidencia.
            Porque comenzaron a aparecer más datos que relacionaban las dorsales oceánicas con los terremoto
            y las erupciones volcánicas.
          p.text.block-flex-child.
            Asi, en 1957 publicaron su primera cartografía, del Atlántico Norte, demostrando la existencia de la dorsal medio-oceánica, una enorme cordillera submarina que atraviesa el océano de norte a sur donde se crea continuamente nuevo fondo marino.
            Mismo que fue toda una revolución porque la mayoría creía que el fondo de el mar era llano y fangoso.
            Sin embargo los dibujos, probaban que en el fondo de el mar existen los relieves y que además podrian llegar a ser
            más grandes que los que hay en la superficie.
          p.text.block-flex-child.
            Marie siguió trabajando en la facultad de la Universidad de Columbia hasta 1983.
          p.text.block-flex-child.
            Marie falleció de cáncer a la edad de 86 años el 23 de agosto de 2006 en Nyack, Nueva York, Estados Unidos.
        article.article
          h2.text.text--title Conclusión
          p.text.block-flex-child.
            Marie Tharp fue una geóloga y cartógrafa que dedicó su vida a la exploración del fondo oceánico y cuyo trabajo fue fundamental para la comprensión de la tectónica de placas y la formación del relieve submarino. Su legado sigue siendo relevante hoy en día, inspirando a nuevas generaciones de mujeres científicas y recordándonos que la exploración y el descubrimiento continúan siendo una parte fundamental del avance de la ciencia.
