doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Marie Tharp
    meta(name="author", content="Salando")
    link(rel="stylesheet", href="../css/style.css")
  body
    .container
      header.header
        picture: img(src="../img/mapas.jpg", alt="mapas").header__imagen
        h1.header__titulo.header__titulo--absolute.
          ¿Quien fue <i class="header__titulo--cursiva | header__titulo--absolute" >Marie Tharp </i> y por que fue tan importante?
